.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.about-us-about-us-page {
  width: 100%;
  height: 1926px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(36, 12, 47, 1);
}

.about-us-whole-page {
  top: 0px;
  left: 0px;
  width: 1538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-frame68 {
  width: 1538px;
  height: 783px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.about-us-image51 {
  top: 0px;
  left: 0px;
  width: 1538px;
  height: 783px;
  position: absolute;
}

.about-us-navigation-bar {
  gap: 10px;
  top: 16px;
  right: -19px;
  width: 1538px;
  display: flex;
  padding: 18px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.about-us-n-vbar {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-frame66 {
  gap: 414px;
  width: 1390px;
  display: flex;
  padding: 0 52px;
  align-self: center;
  align-items: center;
  margin-right: var(--dl-space-space-oneandhalfunits);
}

.about-us-navlink {
  display: contents;
}

.about-us-logo3 {
  width: 350px;
  height: 61px;
  text-decoration: none;
}

.about-us-frame59 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about-us-text {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-text02 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-text04 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-footer {
  top: 1581px;
  left: 0px;
  width: 1538px;
  height: 341px;
  display: flex;
  padding: 9px 409px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(10, 1, 15, 1);
}

.about-us-frame69 {
  gap: 15px;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 26px 0 0;
  padding-right: 26px 0 0;
  flex-direction: column;
  padding-bottom: 26px 0 0;
  justify-content: flex-end;
}

.about-us-navlink1 {
  display: contents;
}

.about-us-logo2 {
  width: 350px;
  height: 62px;
  text-decoration: none;
}

.about-us-text06 {
  color: rgba(255, 255, 255, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-socials {
  gap: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.about-us-brandsfacebook {
  width: 31px;
  height: 31px;
}

.about-us-brandssocialmedia {
  width: 31px;
  height: 31px;
}

.about-us-brandstwitter {
  width: 31px;
  height: 31px;
}

.about-us-brandsyoutube {
  width: 31px;
  height: 31px;
}

.about-us-frame92 {
  top: 239px;
  left: 409px;
  width: 723px;
  height: 390px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.about-us-frame91 {
  top: 0px;
  left: 0px;
  width: 723px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-text08 {
  color: rgba(255, 255, 255, 1);
  width: 723px;
  height: auto;
  font-size: 71px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4300000071525574);
  font-style: italic;
  text-align: center;
  font-family: Vortax;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-text10 {
  color: rgba(255, 255, 255, 1);
  width: 720px;
  height: auto;
  font-size: 21px;
  font-style: italic;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  padding-top: 15px;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-contact--sbtnbutton {
  top: 343px;
  left: 0px;
  right: 0px;
  width: 181px;
  height: 47px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}

.about-us-rectangle22 {
  top: 0px;
  left: 0px;
  width: 181px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}

.about-us-text12 {
  top: 14px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-contact-us {
  gap: 21px;
  top: 848px;
  left: 502px;
  width: 532px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-text14 {
  color: rgba(255, 255, 255, 1);
  width: 532px;
  height: auto;
  font-size: 92px;
  font-style: italic;
  text-align: center;
  font-family: Vortax;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-us-frame98 {
  gap: 46px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-frame97 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-us-frame93input {
  width: 532px;
  height: 43px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.about-us-form {
  width: 100%;
  height: 100%;
  display: flex;
}

.about-us-textinput {
  width: 100%;
  height: 40px;
  padding-left: 21px;
}

.about-us-frame94input {
  width: 532px;
  height: 43px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.about-us-textinput1 {
  width: 100%;
  height: 40px;
  padding-left: 21px;
}

.about-us-frame95input {
  width: 532px;
  height: 43px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.about-us-textinput2 {
  width: 100%;
  padding-left: 21px;
}

.about-us-frame96input {
  width: 532px;
  height: 147px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}

.about-us-textinput3 {
  width: 100%;
  height: 100%;
  padding-left: 21px;
}

.about-us-button {
  width: 526px;
  font-style: normal;
  font-weight: 700;
}