.tekken7-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.tekken7-tekken-page {
  width: 100%;
  height: 3473px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}

.tekken7-whole-page {
  top: 0px;
  left: 0px;
  width: 1538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-frame68 {
  width: 1538px;
  height: 783px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.tekken7-tekken-bg1 {
  top: 0px;
  left: 0px;
  width: 1538px;
  height: 818px;
  position: absolute;
}

.tekken7-navigation-bar {
  gap: 10px;
  top: 16px;
  left: 0px;
  width: 1538px;
  display: flex;
  padding: 18px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.tekken7-n-vbar {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-frame66 {
  gap: 414px;
  display: flex;
  padding: 0 52px;
  align-items: center;
}

.tekken7-navlink {
  display: contents;
}

.tekken7-logo3 {
  width: 350px;
  height: 61px;
  text-decoration: none;
}

.tekken7-frame59 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
}

.tekken7-text {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text02 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text04 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-content-div {
  width: 1538px;
  height: 2349px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.tekken7-tekken-content {
  gap: 30px;
  top: -26px;
  left: 44.5px;
  width: 1449px;
  display: flex;
  position: absolute;
  align-items: center;
}

.tekken7-cyber-mini-image1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-image12 {
  width: 952px;
  height: 446px;
}

.tekken7-text06 {
  color: rgb(255, 255, 255);
  width: 952px;
  height: auto;
  font-size: 23px;
  font-style: Regular;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text07 {
  font-weight: 400;
}

.tekken7-text08 {
  font-style: normal;
  font-weight: 700;
}

.tekken7-text09 {
  font-style: normal;
  font-weight: 700;
}

.tekken7-character-f31 {
  width: 467px;
  height: 690px;
}

.tekken7-trailer {
  gap: 54px;
  top: 744px;
  left: 69px;
  width: 1400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-text11 {
  color: rgba(255, 255, 255, 1);
  width: 267px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-reviews {
  gap: 40px;
  left: 69px;
  width: 1400px;
  bottom: 118px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-text13 {
  color: rgba(255, 255, 255, 1);
  width: 494px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-reviews-div {
  gap: 25px;
  width: 1400px;
  display: flex;
  padding: 43px 41px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 38px;
  background-color: rgba(47, 47, 47, 1);
}

.tekken7-image45 {
  width: 342px;
  height: 359px;
  border-radius: 30px;
}

.tekken7-title-review {
  gap: 24px;
  width: 524.75px;
  height: 350.25px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-items: flex-start;
}

.tekken7-frame75 {
  gap: 24px;
  top: 0px;
  left: 16px;
  width: 493px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-text15 {
  color: rgba(255, 255, 255, 1);
  width: 493px;
  height: auto;
  font-size: 52px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-frame74 {
  gap: 5px;
  height: 237px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.tekken7-text17 {
  color: rgba(255, 255, 255, 1);
  width: 434px;
  height: auto;
  font-size: 23px;
  font-style: Medium;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text19 {
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  font-size: 23px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-line1 {
  width: 219px;
  height: 1px;
}

.tekken7-ratings {
  width: 417px;
  display: flex;
  padding: 0 39px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.tekken7-frame83 {
  gap: 30px;
  width: 384px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tekken7-text21 {
  color: rgb(255, 255, 255);
  width: 206px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  margin-top: 0px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text23 {
  font-style: normal;
  font-weight: 400;
}

.tekken7-text25 {
  color: rgb(255, 255, 255);
  width: 251px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  margin-top: 0px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text27 {
  font-style: normal;
  font-weight: 400;
}

.tekken7-text29 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  margin-top: 0px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-text31 {
  font-style: normal;
  font-weight: 400;
}

.tekken7-footer {
  width: 1538px;
  height: 341px;
  display: flex;
  padding: 9px 409px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(10, 1, 15, 1);
}

.tekken7-frame69 {
  gap: 15px;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 26px 0 0;
  padding-right: 26px 0 0;
  flex-direction: column;
  padding-bottom: 26px 0 0;
  justify-content: flex-end;
}

.tekken7-navlink1 {
  display: contents;
}

.tekken7-logo2 {
  width: 350px;
  height: 62px;
  text-decoration: none;
}

.tekken7-text33 {
  color: rgba(255, 255, 255, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tekken7-socials {
  gap: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.tekken7-brandsfacebook {
  width: 31px;
  height: 31px;
}

.tekken7-brandssocialmedia {
  width: 31px;
  height: 31px;
}

.tekken7-brandstwitter {
  width: 31px;
  height: 31px;
}

.tekken7-brandsyoutube {
  width: 31px;
  height: 31px;
}