.apex-legends-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.apex-legends-ape-page {
  width: 100%;
  height: 3473px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(206, 183, 152, 1);
}

.apex-legends-whole-page {
  top: 0px;
  left: 0px;
  width: 1538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-frame68 {
  width: 1538px;
  height: 783px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.apex-legends-apex-bg1 {
  top: 0px;
  left: 0px;
  width: 1538px;
  height: 865px;
  position: absolute;
}

.apex-legends-navigation-bar {
  gap: 10px;
  top: 16px;
  left: 0px;
  width: 1538px;
  display: flex;
  padding: 18px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.apex-legends-n-vbar {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-frame66 {
  gap: 414px;
  display: flex;
  padding: 0 52px;
  align-items: center;
}

.apex-legends-navlink {
  display: contents;
}

.apex-legends-logo3 {
  width: 350px;
  height: 61px;
  text-decoration: none;
}

.apex-legends-frame59 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
}

.apex-legends-text {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text02 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text04 {
  color: rgba(0, 0, 0, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-content-div {
  width: 1538px;
  height: 2349px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.apex-legends-apex-content {
  top: -23px;
  left: 25px;
  width: 1487px;
  display: flex;
  position: absolute;
  align-items: center;
}

.apex-legends-frame85 {
  display: flex;
  align-items: center;
}

.apex-legends-frame88 {
  gap: -100px;
  display: flex;
  align-items: center;
}

.apex-legends-cyber-mini-image1 {
  gap: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-image12 {
  width: 965px;
  height: 544px;
}

.apex-legends-text06 {
  color: rgb(0, 0, 0);
  width: 965px;
  height: auto;
  font-size: 23px;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text07 {
  font-weight: 700;
}

.apex-legends-text08 {
  font-style: normal;
}

.apex-legends-frame87 {
  width: 532px;
  height: 522px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.apex-legends-image281 {
  top: -198px;
  left: -46px;
  width: 587px;
  height: 732px;
  position: absolute;
}

.apex-legends-trailer {
  gap: 54px;
  top: 723px;
  left: 69px;
  width: 1400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-text09 {
  color: rgba(0, 0, 0, 1);
  width: 267px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-reviews {
  gap: 40px;
  left: 69px;
  width: 1400px;
  bottom: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-text11 {
  color: rgba(0, 0, 0, 1);
  width: 494px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-reviews-div {
  gap: 25px;
  width: 1400px;
  display: flex;
  padding: 43px 41px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 38px;
  background-color: rgba(47, 47, 47, 1);
}

.apex-legends-image45 {
  width: 342px;
  height: 359px;
  border-radius: 30px;
}

.apex-legends-title-review {
  gap: 24px;
  width: 524.75px;
  height: 350.25px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-items: flex-start;
}

.apex-legends-frame78 {
  gap: 24px;
  top: 0px;
  left: 16px;
  width: 493px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-text13 {
  color: rgba(255, 255, 255, 1);
  width: 493px;
  height: auto;
  font-size: 52px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-frame77 {
  gap: 5px;
  height: 237px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.apex-legends-text15 {
  color: rgba(255, 255, 255, 1);
  width: 434px;
  height: auto;
  font-size: 23px;
  font-style: Medium;
  text-align: justified;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text17 {
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  font-size: 23px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-line1 {
  width: 219px;
  height: 1px;
}

.apex-legends-ratings {
  display: flex;
  padding: 0 39px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.apex-legends-frame82 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.apex-legends-text19 {
  color: rgb(255, 255, 255);
  width: 269px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text21 {
  font-style: normal;
  font-weight: 400;
}

.apex-legends-text23 {
  color: rgb(255, 255, 255);
  width: 251px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text25 {
  font-style: normal;
  font-weight: 400;
}

.apex-legends-text27 {
  color: rgb(255, 255, 255);
  width: 370px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-text29 {
  font-style: normal;
  font-weight: 400;
}

.apex-legends-footer {
  width: 1538px;
  height: 341px;
  display: flex;
  padding: 9px 409px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(10, 1, 15, 1);
}

.apex-legends-frame69 {
  gap: 15px;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 26px 0 0;
  padding-right: 26px 0 0;
  flex-direction: column;
  padding-bottom: 26px 0 0;
  justify-content: flex-end;
}

.apex-legends-logo2 {
  width: 350px;
  height: 62px;
}

.apex-legends-text31 {
  color: rgba(255, 255, 255, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.apex-legends-socials {
  gap: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.apex-legends-brandsfacebook {
  width: 31px;
  height: 31px;
}

.apex-legends-brandssocialmedia {
  width: 31px;
  height: 31px;
}

.apex-legends-brandstwitter {
  width: 31px;
  height: 31px;
}

.apex-legends-brandsyoutube {
  width: 31px;
  height: 31px;
}