.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.games-gamespage {
  width: 100%;
  height: 3121px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(36, 12, 47, 1);
}

.games-whole-page {
  top: 0px;
  left: 0px;
  width: 1538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-frame68 {
  width: 1538px;
  height: 783px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-image112 {
  top: 0px;
  left: 0px;
  width: 1538px;
  height: 783px;
  position: absolute;
}

.games-navigation-bar {
  gap: 10px;
  top: 16px;
  left: 0px;
  width: 1538px;
  display: flex;
  padding: 18px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.games-n-vbar {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  flex-direction: column;
}

.games-frame66 {
  gap: 414px;
  display: flex;
  padding: 0 52px;
  align-items: center;
}

.games-navlink {
  display: contents;
}

.games-logo3 {
  width: 350px;
  height: 61px;
  text-decoration: none;
}

.games-frame59 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
}

.games-text {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text02 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text04 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-content-div {
  gap: 10px;
  top: 783px;
  left: 0px;
  width: 1537px;
  display: flex;
  padding: 60px 119px;
  position: absolute;
  align-items: flex-start;
}

.games-games {
  gap: 37px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.games-text06 {
  color: rgba(255, 255, 255, 1);
  width: 703px;
  height: auto;
  font-size: 110px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-games-div {
  gap: 54px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.games-game12 {
  width: 1298.6324462890625px;
  height: 346.2048645019531px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-valframe {
  top: 0px;
  left: 683.43994140625px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-navlink1 {
  display: contents;
}

.games-valimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-valtext {
  top: 232.746826171875px;
  left: 48.56005859375px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text08 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text10 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-cyberframe {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-navlink2 {
  display: contents;
}

.games-cybeimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-cybertext {
  top: 232.746826171875px;
  left: 49px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text12 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text14 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-game34 {
  width: 1298.6324462890625px;
  height: 346.2048645019531px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-a-eframe {
  top: 0px;
  left: 683.43994140625px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-navlink3 {
  display: contents;
}

.games-a-eimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-a-etext {
  top: 232.2537841796875px;
  left: 48.56005859375px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text16 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text18 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-tekframe {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-navlink4 {
  display: contents;
}

.games-tekimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-tektext {
  top: 232.2537841796875px;
  left: 49px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text20 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text22 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-game56 {
  width: 1298.6324462890625px;
  height: 346.2048645019531px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-forframe {
  top: 0px;
  left: 683.43994140625px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-link {
  display: contents;
}

.games-forimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-fortext {
  top: 232.7608642578125px;
  left: 48.56005859375px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text24 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text26 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games--lframe {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-navlink5 {
  display: contents;
}

.games--limage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games--ltext {
  top: 232.7608642578125px;
  left: 49px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text28 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text30 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-game78 {
  width: 1298.6324462890625px;
  height: 346.2048645019531px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-c-dframe {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-link1 {
  display: contents;
}

.games-c-dimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-c-dtext {
  gap: 10px;
  top: 219.267822265625px;
  left: 49px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text32 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 86.90000176429749%;
  font-stretch: normal;
  text-decoration: none;
}

.games-text34 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-fallframe {
  top: 0px;
  left: 683.43994140625px;
  width: 615px;
  height: 346.2048645019531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.games-link2 {
  display: contents;
}

.games-fallimage {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 346px;
  position: absolute;
  border-radius: 38px;
  text-decoration: none;
}

.games-falltext {
  top: 232.267822265625px;
  left: 48.56005859375px;
  width: 385px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.games-text36 {
  color: rgba(255, 255, 255, 1);
  width: 385px;
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-text38 {
  color: rgba(255, 255, 255, 1);
  width: 228px;
  height: auto;
  font-size: 17px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-footer {
  top: 2780px;
  left: 0px;
  width: 1538px;
  height: 341px;
  display: flex;
  padding: 9px 409px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(10, 1, 15, 1);
}

.games-frame69 {
  gap: 15px;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 26px 0 0;
  padding-right: 26px 0 0;
  flex-direction: column;
  padding-bottom: 26px 0 0;
  justify-content: flex-end;
}

.games-logo2 {
  width: 350px;
  height: 62px;
}

.games-text40 {
  color: rgba(255, 255, 255, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.games-socials {
  gap: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.games-brandsfacebook {
  width: 31px;
  height: 31px;
}

.games-brandssocialmedia {
  width: 31px;
  height: 31px;
}

.games-brandstwitter {
  width: 31px;
  height: 31px;
}

.games-brandsyoutube {
  width: 31px;
  height: 31px;
}