.mobile-legends-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.mobile-legends-m-page {
  width: 100%;
  height: 3473px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(13, 29, 45, 1);
}

.mobile-legends-whole-page {
  top: 0px;
  left: 0px;
  width: 1538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-frame68 {
  width: 1538px;
  height: 783px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.mobile-legends-character-f51 {
  top: 0px;
  left: 0px;
  width: 1538px;
  height: 981px;
  position: absolute;
}

.mobile-legends-navigation-bar {
  gap: 10px;
  top: 16px;
  left: 0px;
  width: 1538px;
  display: flex;
  padding: 18px 85px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.mobile-legends-n-vbar {
  gap: 10px;
  display: flex;
  padding: 0 16px;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-frame66 {
  gap: 414px;
  display: flex;
  padding: 0 52px;
  align-items: center;
}

.mobile-legends-navlink {
  display: contents;
}

.mobile-legends-logo3 {
  width: 350px;
  height: 61px;
  text-decoration: none;
}

.mobile-legends-frame59 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
}

.mobile-legends-text {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text02 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text04 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-content-div {
  width: 1538px;
  height: 2349px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.mobile-legends-cyber-content {
  gap: -287px;
  top: -35px;
  left: 70px;
  width: 1398px;
  display: flex;
  position: absolute;
  align-items: center;
}

.mobile-legends-cyber-mini-image1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-image12 {
  width: 982px;
  height: 472px;
}

.mobile-legends-text06 {
  color: rgb(255, 255, 255);
  width: 982px;
  height: auto;
  font-size: 23px;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text07 {
  font-weight: 700;
}

.mobile-legends-text08 {
  font-style: normal;
}

.mobile-legends-frame89 {
  width: 472px;
  height: 424px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.mobile-legends-group161 {
  top: -78px;
  left: -107px;
  width: 602px;
  height: 471px;
  position: absolute;
}

.mobile-legends-trailer {
  gap: 54px;
  top: 645px;
  left: 69px;
  width: 1400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-text09 {
  color: rgba(255, 255, 255, 1);
  width: 267px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-reviews {
  gap: 40px;
  left: 69px;
  width: 1400px;
  bottom: 202px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-text11 {
  color: rgba(255, 255, 255, 1);
  width: 494px;
  height: auto;
  font-size: 94px;
  font-style: italic;
  text-align: left;
  font-family: Vortax;
  font-weight: 400;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-reviews-div {
  gap: 25px;
  width: 1400px;
  display: flex;
  padding: 43px 41px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 38px;
  background-color: rgba(47, 47, 47, 1);
}

.mobile-legends-image45 {
  width: 342px;
  height: 359px;
  border-radius: 30px;
}

.mobile-legends-title-review {
  gap: 24px;
  width: 524.75px;
  height: 350.25px;
  display: flex;
  padding: 0 16px;
  position: relative;
  align-items: flex-start;
}

.mobile-legends-frame80 {
  gap: 24px;
  top: 0px;
  left: 16px;
  width: 493px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-text13 {
  color: rgba(255, 255, 255, 1);
  width: 493px;
  height: auto;
  font-size: 52px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.89999198913574%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-frame79 {
  gap: 12px;
  height: 237px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.mobile-legends-text15 {
  color: rgba(255, 255, 255, 1);
  width: 434px;
  height: auto;
  font-size: 23px;
  font-style: Medium;
  text-align: justify;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text17 {
  color: rgba(255, 255, 255, 1);
  width: 418px;
  height: auto;
  font-size: 23px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 122.50000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-line1 {
  width: 219px;
  height: 1px;
}

.mobile-legends-ratings {
  gap: 30px;
  display: flex;
  padding: 0 39px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.mobile-legends-frame81 {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.mobile-legends-text19 {
  color: rgb(255, 255, 255);
  width: 261px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text20 {
  font-weight: 700;
}

.mobile-legends-text21 {
  font-style: normal;
  font-weight: 400;
}

.mobile-legends-text22 {
  font-style: normal;
  font-weight: 400;
}

.mobile-legends-text24 {
  color: rgb(255, 255, 255);
  width: 268px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text25 {
  font-weight: 700;
}

.mobile-legends-text26 {
  font-style: normal;
  font-weight: 400;
}

.mobile-legends-text27 {
  font-style: normal;
  font-weight: 400;
}

.mobile-legends-text29 {
  color: rgb(255, 255, 255);
  width: 300px;
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 90.9%;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-text31 {
  font-style: normal;
  font-weight: 400;
}

.mobile-legends-footer {
  width: 1538px;
  height: 341px;
  display: flex;
  padding: 9px 409px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(10, 1, 15, 1);
}

.mobile-legends-frame69 {
  gap: 15px;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 26px 0 0;
  padding-right: 26px 0 0;
  flex-direction: column;
  padding-bottom: 26px 0 0;
  justify-content: flex-end;
}

.mobile-legends-logo2 {
  width: 350px;
  height: 62px;
}

.mobile-legends-text33 {
  color: rgba(255, 255, 255, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.mobile-legends-socials {
  gap: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.mobile-legends-brandsfacebook {
  width: 31px;
  height: 31px;
}

.mobile-legends-brandssocialmedia {
  width: 31px;
  height: 31px;
}

.mobile-legends-brandstwitter {
  width: 31px;
  height: 31px;
}

.mobile-legends-brandsyoutube {
  width: 31px;
  height: 31px;
}